<form [formGroup]="location" id="locationForm" (ngSubmit)="calculateDistance()">
  <br><br>
  Start: <input type="text" size="48" id="start" formControlName="start" ngx-google-places-autocomplete
    (onAddressChange)="GetStartAddressChange($event)">
  <br><br>
  Destination: <input type="text" size="42" formControlName="destination" ngx-google-places-autocomplete
    (onAddressChange)="GetEndAddress($event)">
  <br><br>
  <button>Submit</button>
  <br><br><br>
</form>
<div *ngIf="displaydata">
Start Location: {{locations.StartLocation}}
<br>
Destination Location: {{locations.DestinationLocation}}
<br>
Distance: {{locations.distance}} ({{locations.duration}})
</div>

<div *ngIf="errorCheck">
  <h2>{{locations.ErrorMessage}}
  </h2>
</div>

<br><br>

<div *ngIf="condition">
  <app-googlemap></app-googlemap>
</div>